@charset "UTF-8";

/* ------ Grundstilen för sidorna ----- */

html {
  height: 100%;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Ta bort inbyggda marginaler och ändra box-sizing */
html, body, nav, header, main, aside, footer, section, div, figure {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  color: #000000;
  padding: 0 7px;
  max-width: 1000px;
  margin: 0 auto;
}

body {
  position: relative;
  min-height: calc(100vh - 66px);
  background-color: rgb(248, 246, 244);
  margin-top: 66px; /* Added because of the fixed header */
  padding-bottom: 64px; /* Added because of the absolute footer */
}

h1 {
  color: #36485a;
  font-size: 1.8em;
  margin: 0;
  padding: 0.6em 0;
}

/* ------ Header Styles ----- */
nav {
  background-color: #e9deda;
  position: fixed;
  top: 0;
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: flex-end;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  list-style: none;
}

.home-nav {
  margin: 0.5em auto 0.5em 1em;
}

.home-link {
  font-size: 1.4em;
  font-weight: 600;
  padding-left: 5px;
}

/* ------ Footer Styles ----- */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #e9deda;
  padding: 8px;
}

footer p {
  color: #1f3042;
  text-align: center;
  font-size: 0.95em;
}

/* ------ Issue styles ----- */
.issue {
  background-color: rgb(255, 255, 255);
  margin: 15px auto;
  padding: 1em;
  border-radius: 10px;
}

.issue p {
  word-wrap: break-word;
  margin: 0;
}

.issue-header {
  display: flex;
}

.issue-header img {
  max-width: 60px;
}

.issue-header h3 {
  margin: 1em 0 0 1em;
  color: #2e455e;
}

.issue-header-links {
  margin-left: auto;
}

.issue-header-links a {
  margin: 0 0.8em;
}

.issue-header-links form {
  display: inline;
}

.issue-header-links button {
  display: inline;
  font-weight: 500;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: inherit;
  border: none;
  font-size: 1em;
  color: #0f3966;
  cursor: pointer;
}

.issue-header-links button:hover, .issue-header-links button:active {
  color: #4d647e;
  background-color: inherit;
}

.issue-content {
  height: min-content;
  white-space: pre-wrap;
}

.issue-footer {
  color: #4d4d4d;
}

.issue textarea {
  display: block;
  resize: vertical;
  font-size: 1em;
  font-family: inherit;
  padding: 0.2em 0.5em;
  min-width: calc(100% - 1em);
  height: 12em;
  margin: 2em 0;
}

/* ------ Link styles ----- */
a {
  text-decoration: none;
}

a:link, a:visited {
  color: #0f3966;
}

a:hover, a:active {
  color: #4d647e;
}

/* ------ Button styles ----- */

button {
  display: block;
  color: white;
  font-size: 1.3em;
  font-weight: 600;
  background-color: #3f5268;
  padding: 0.5em 1.2em 0.5em 1.2em;
  margin: 1em auto;
  cursor: pointer;
}

button:hover, button:active {
  background-color: #4f6074;
}

/* ------ Other styles ----- */
.center-text {
  text-align: center;
}

.off-screen {
  position: absolute;
  left: -100000px;
}