<div>
  <div>
    <div>
      <div class="error-template">
        <h1>
          {{error.status}}</h1>
        <h2>
          {{error.message}}</h2>
        <div class="error-details">
          <pre>
          {{error.stack}}
          </pre>
        </div>
      </div>
    </div>
  </div>
</div>
