<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="{{baseURL}}">
  <title>1DV026 - Realtime Web Application</title>
  <link rel="stylesheet" type="text/css" href="./css/styles.css" />
</head>

<body>
  {{>header}}
  <main role="main">
    {{{body}}}
  </main>
  {{>footer}}

</body>

</html>